node-red-source/node-red-RESTful-services-skeleton.json
[{"id":"732345d2.5e71ac","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {DELETE/api_resource/:id} {Header: X-Auth-Token}","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":1129,"y":1452,"wires":[["160f3871.16da98"],["762d00ca.c605a"],["67cc2ba0.96f864"]]},{"id":"346a6d64.ae1bb2","type":"http in","z":"26fc1a5.508a6e6","name":"{GET} Restful {/api_resource/:id} Service","url":"/api_resource/:id","method":"get","swaggerDoc":"","x":180,"y":140,"wires":[["e862f579.7c6b68"]]},{"id":"e862f579.7c6b68","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {GET/:id} {Header: X-IBM-Client-ID}","property":"req.headers.x-ibm-client-id","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":541,"y":140,"wires":[["22fd2a50.8438b6"],["c6089665.c515a8"],["635c2b9a.90bb54"]]},{"id":"7c740f5d.65c43","type":"function","z":"26fc1a5.508a6e6","name":"js-{GET}-Restful-{GET/:id}-ERROR-401-NotAuthorized","func":"var _id = \"\";\nvar responseMsg = \"\";\n\n_id = msg.req.params.id;\n\nnode.log(\"_id Path-Param: \" + _id);\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"401\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 401;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1371,"y":133,"wires":[["5414cd0c.3a6dc4"]]},{"id":"22fd2a50.8438b6","type":"function","z":"26fc1a5.508a6e6","name":"js-{GET}-Restful-{GET/:id}-ERROR-403-Forbidden","func":"var _id = \"\";\nvar responseMsg = \"\";\n\n_id = msg.req.params.id;\n\nnode.log(\"_id Path-Param: \" + _id);\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"403\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 403;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":973,"y":60,"wires":[["55e8bbdb.401314"]]},{"id":"55e8bbdb.401314","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{GET/:id}-ERROR-403","x":1333,"y":60,"wires":[["8c3d2f10.fd899"]]},{"id":"8c3d2f10.fd899","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {GET/:id} 403 Forbidden","x":1672,"y":60,"wires":[]},{"id":"635c2b9a.90bb54","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {GET/:id} {Header: X-Auth-Token}","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":951,"y":186,"wires":[["7c740f5d.65c43"],["9b70aa37.deefe8"],["6b5c7cfa.b4d534"]]},{"id":"7a384192.60db7","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {GET/:id} 401 Not Authorized","x":2080,"y":133,"wires":[]},{"id":"63b62b94.001514","type":"comment","z":"26fc1a5.508a6e6","name":"RESTful Services {Node-Red} - Common services Skeleton","info":"RESTful Services {Node-Red} - Common services Skeleton","x":240,"y":28,"wires":[]},{"id":"6b5c7cfa.b4d534","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {GET/:id} {Path Param}","property":"req.params.id","propertyType":"msg","rules":[{"t":"eq","v":"1234400","vt":"str"},{"t":"eq","v":"1234404","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":1301,"y":265,"wires":[["90a93656.005ec8"],["b13e530e.ecae"],["fdade3e0.66266"]]},{"id":"90a93656.005ec8","type":"function","z":"26fc1a5.508a6e6","name":"js-{GET}-Restful-{GET/:id}-ERROR-400-BadRequest","func":"var _id = \"\";\nvar responseMsg = \"\";\n\n_id = msg.req.params.id;\n\nnode.log(\"_id Path-Param: \" + _id);\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"400\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 400;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1681,"y":210,"wires":[["b0e210f1.c30a3"]]},{"id":"b0e210f1.c30a3","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{GET/:id}-ERROR-400","x":2052,"y":210,"wires":[["db80ad46.6ab0f"]]},{"id":"db80ad46.6ab0f","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {GET/:id} 400 Bad Request","x":2391,"y":210,"wires":[]},{"id":"b13e530e.ecae","type":"function","z":"26fc1a5.508a6e6","name":"js-{GET}-Restful-{GET/:id}-ERROR-404-NotFound","func":"var _id = \"\";\nvar responseMsg = \"\";\n\n_id = msg.req.params.id;\n\nnode.log(\"_id Path-Param: \" + _id);\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"404\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 404: The token was not found\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 404;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1671,"y":244,"wires":[["af079e18.70ce3"]]},{"id":"5414cd0c.3a6dc4","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{GET/:id}-ERROR-401","x":1731,"y":133,"wires":[["7a384192.60db7"]]},{"id":"af079e18.70ce3","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{GET/:id}-ERROR-404","x":2052,"y":244,"wires":[["be0f46bb.2ca9a8"]]},{"id":"be0f46bb.2ca9a8","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {GET/:id} 404 Not Found","x":2391,"y":244,"wires":[]},{"id":"fdade3e0.66266","type":"function","z":"26fc1a5.508a6e6","name":"js-{GET}-Restful-{GET/:id}-OK-200-ValidRequest","func":"var _id = \"\";\nvar responseMsg = \"\";\n\n_id = msg.req.params.id;\n\nnode.log(\"_id Path-Param: \" + _id);\n\nresponseMsg = \"{\\\"data\\\":\\\"\" + \"Hi\" + \"\\\"}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 200;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":278,"wires":[["b9fdf4fe.e0e1f8"]]},{"id":"b9fdf4fe.e0e1f8","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{GET/:id}-OK-200","x":2043,"y":278,"wires":[["8cceeba9.d3a8a8"]]},{"id":"8cceeba9.d3a8a8","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {GET/:id} 200 OK","x":2361,"y":278,"wires":[]},{"id":"c6089665.c515a8","type":"function","z":"26fc1a5.508a6e6","name":"js-{GET}-Restful-{GET/:id}-ERROR-403-Forbidden","func":"var _id = \"\";\nvar responseMsg = \"\";\n\n_id = msg.req.params.id;\n\nnode.log(\"_id Path-Param: \" + _id);\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"403\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 403;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":974,"y":96,"wires":[["4702222c.0e7d7c"]]},{"id":"4702222c.0e7d7c","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{GET/:id}-ERROR-403","x":1334,"y":96,"wires":[["21feb12.1f82c4e"]]},{"id":"21feb12.1f82c4e","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {GET/:id} 403 Forbidden","x":1675,"y":96,"wires":[]},{"id":"9b572461.aa4858","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {GET/:id} 401 Not Authorized","x":2080,"y":172,"wires":[]},{"id":"576ddfdc.be248","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{GET/:id}-ERROR-401","x":1731,"y":172,"wires":[["9b572461.aa4858"]]},{"id":"9b70aa37.deefe8","type":"function","z":"26fc1a5.508a6e6","name":"js-{GET}-Restful-{GET/:id}-ERROR-401-NotAuthorized","func":"var _id = \"\";\nvar responseMsg = \"\";\n\n_id = msg.req.params.id;\n\nnode.log(\"_id Path-Param: \" + _id);\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"401\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 401;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":172,"wires":[["576ddfdc.be248"]]},{"id":"979d4254.23e5e","type":"comment","z":"26fc1a5.508a6e6","name":"{GET} Restful {/api_resource/:id} Service","info":"{GET} Restful {/api_resource/:id} Service\n\nTo get the path params use the following javascript\ncode:\n\nmsg.req.params.\"path_param_name\"\n\nexample: msg.req.params.id\n\nTo get the query params use the following javascript \ncode:\n\nmsg.req.query.\"query_param_name\"\n\nexample: msg.req.query.x\n\nThat´s All Folks!","x":180,"y":105,"wires":[]},{"id":"33c0402a.cca25","type":"http in","z":"26fc1a5.508a6e6","name":"{POST} Restful {/api_resource} Service","url":"/api_resource/","method":"post","swaggerDoc":"","x":170,"y":412,"wires":[["6afa9f9f.e121e"]]},{"id":"6afa9f9f.e121e","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {POST/} {Header: X-IBM-Client-ID}","property":"req.headers.x-ibm-client-id","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":511,"y":412,"wires":[["f42ef2aa.7ca11"],["7b276271.aa51ac"],["17ccdcbf.ece353"]]},{"id":"3396ddeb.36ac92","type":"function","z":"26fc1a5.508a6e6","name":"js-{POST}-Restful-{POST/}-ERROR-401-NotAuthorized","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-Auth-Token not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"401\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 401;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1348,"y":405,"wires":[["801770a8.ddc5e"]]},{"id":"f42ef2aa.7ca11","type":"function","z":"26fc1a5.508a6e6","name":"js-{POST}-Restful-{POST/}-ERROR-403-Forbidden","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-IBM-Client-ID not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"403\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 403;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":931,"y":332,"wires":[["36ef00cb.a7241"]]},{"id":"36ef00cb.a7241","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{POST/}-ERROR-403","x":1288,"y":332,"wires":[["2f0aa5d2.fc1fca"]]},{"id":"2f0aa5d2.fc1fca","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {POST/} 403 Forbidden","x":1619,"y":332,"wires":[]},{"id":"17ccdcbf.ece353","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {POST/} {Header: X-Auth-Token}","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":909,"y":458,"wires":[["3396ddeb.36ac92"],["b69d60db.c40e9"],["cf10739d.aa92a"]]},{"id":"ff4a8462.16ab38","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {POST} 401 Not Authorized","x":2068,"y":405,"wires":[]},{"id":"cf10739d.aa92a","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {POST/} {JSON in Body}","property":"payload.inputData","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":1275,"y":537,"wires":[["21eb4c5d.b17434"],["eefe347a.9bc8c8"],["e206f405.af6828"]]},{"id":"21eb4c5d.b17434","type":"function","z":"26fc1a5.508a6e6","name":"js-{POST}-Restful-{POST/}-ERROR-400-BadRequest","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: Bad Request\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"400\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 400;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1658,"y":482,"wires":[["eb60b345.deefc"]]},{"id":"eb60b345.deefc","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{POST/}-ERROR-400","x":2028,"y":482,"wires":[["f8a50be0.48eb58"]]},{"id":"f8a50be0.48eb58","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {POST/} 400 Bad Request","x":2368,"y":482,"wires":[]},{"id":"eefe347a.9bc8c8","type":"function","z":"26fc1a5.508a6e6","name":"js-{POST}-Restful-{POST/}-ERROR-404-NotFound","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: Not Found\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"404\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 404: The token was not found\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 404;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1647,"y":516,"wires":[["f4c54736.637618"]]},{"id":"801770a8.ddc5e","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{POST/}-ERROR-401","x":1729,"y":405,"wires":[["ff4a8462.16ab38"]]},{"id":"f4c54736.637618","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{POST/}-ERROR-404","x":2028,"y":516,"wires":[["a2ee5c4c.1558"]]},{"id":"a2ee5c4c.1558","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {POST/} 404 Not Found","x":2358,"y":516,"wires":[]},{"id":"e206f405.af6828","type":"function","z":"26fc1a5.508a6e6","name":"js-{POST}-Restful-{POST/}-OK-200-ValidRequest","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\":-: OK :-:\");\n\nresponseMsg = \"{\\\"data\\\":\\\"\" + \"Hi\" + \"\\\"}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 200;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1647,"y":550,"wires":[["6da24022.a6d11"]]},{"id":"6da24022.a6d11","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{POST}-OK-200","x":2008,"y":550,"wires":[["28fe854f.21a71a"]]},{"id":"28fe854f.21a71a","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {POST/} 200 OK","x":2338,"y":550,"wires":[]},{"id":"7b276271.aa51ac","type":"function","z":"26fc1a5.508a6e6","name":"js-{POST}-Restful-{POST/}-ERROR-403-Forbidden","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-IBM-Client-ID not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"403\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 403;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":931,"y":368,"wires":[["a9387323.fdb9f"]]},{"id":"a9387323.fdb9f","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{POST/}-ERROR-403","x":1288,"y":368,"wires":[["9bb0ac47.1b257"]]},{"id":"9bb0ac47.1b257","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {POST/} 403 Forbidden","x":1619,"y":368,"wires":[]},{"id":"701782ff.c7df0c","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {POST} 401 Not Authorized","x":2069,"y":444,"wires":[]},{"id":"334a18bc.917d38","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{POST/}-ERROR-401","x":1729,"y":444,"wires":[["701782ff.c7df0c"]]},{"id":"b69d60db.c40e9","type":"function","z":"26fc1a5.508a6e6","name":"js-{POST}-Restful-{POST}-ERROR-401-NotAuthorized","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-Auth-Token not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"401\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 401;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1347,"y":444,"wires":[["334a18bc.917d38"]]},{"id":"32faa55e.eedd7a","type":"comment","z":"26fc1a5.508a6e6","name":"{POST} Restful {/api_resource} Service","info":"{POST} Restful {/api_resource} Service\n\nHow to use the json included in the body of the \njson-request:\n\nIf content-type is application/json, msg.payload is the parsed json\nif content-type is application/x-www-form-urlencoded, msg.payload is url-encoded data\notherwise, msg.payload is a String containing whatever the body of the request was","x":170,"y":377,"wires":[]},{"id":"ef0bfddf.3dc7f","type":"http in","z":"26fc1a5.508a6e6","name":"{PUT} Restful {/api_resource/:id} Service","url":"/api_resource/:id","method":"put","swaggerDoc":"","x":179,"y":740,"wires":[["1acf24c3.0a262b"]]},{"id":"1acf24c3.0a262b","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {PUT/api_resource/:id} {Header: X-IBM-Client-ID}","property":"req.headers.x-ibm-client-id","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":577,"y":740,"wires":[["4ae63ea1.b610f"],["aa1efaea.87af38"],["6f3be0eb.1d86a"]]},{"id":"b48d7acb.3cdd48","type":"function","z":"26fc1a5.508a6e6","name":"js-{PUT}-Restful-{PUT/}-ERROR-401-NotAuthorized","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-Auth-Token not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"401\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 401;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1522,"y":740,"wires":[["ddb216fa.bfc318"]]},{"id":"4ae63ea1.b610f","type":"function","z":"26fc1a5.508a6e6","name":"js-{PUT}-Restful-{PUT/api_resource/:id}-ERROR-403-Forbidden","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-IBM-Client-ID not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"403\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 403;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":660,"wires":[["365766c2.d5638a"]]},{"id":"365766c2.d5638a","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PUT/api_resource/:id}-ERROR-403","x":1541,"y":660,"wires":[["1e19616f.b4797f"]]},{"id":"1e19616f.b4797f","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PUT/api_resource/:id} 403 Forbidden","x":1972,"y":660,"wires":[]},{"id":"6f3be0eb.1d86a","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {PUT/api_resource/:id} {Header: X-Auth-Token}","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":1049,"y":772,"wires":[["b48d7acb.3cdd48"],["21c6458d.b1c50a"],["e07e5ff2.8f864"]]},{"id":"f65420a9.d7d61","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PUT/api_resource/:id} 401 Not Authorized","x":2381,"y":740,"wires":[]},{"id":"c50b4787.0aec88","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {PUT/api_resource/:id} {JSON in Body}","property":"payload.inputData","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":1932,"y":935,"wires":[["14deaa9f.aab515"],["87c01a68.169e68"],["f3fc86a6.09a258"]]},{"id":"14deaa9f.aab515","type":"function","z":"26fc1a5.508a6e6","name":"js-{PUT}-Restful-{PUT/api_resource/:id}-ERROR-404-NotFound","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: Not Found\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"404\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 404: The token was not found\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 404;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":2391,"y":880,"wires":[["cedf7f00.0666f"]]},{"id":"cedf7f00.0666f","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PUT/api_resource/:id}-ERROR-404","x":2861,"y":880,"wires":[["2e3e6560.cf8bea"]]},{"id":"2e3e6560.cf8bea","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PUT/api_resource/:id} 404 Not Found","x":3291,"y":880,"wires":[]},{"id":"87c01a68.169e68","type":"function","z":"26fc1a5.508a6e6","name":"js-{PUT}-Restful-{PUT/api_resource/:id}-ERROR-404-NotFound","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: Not Found\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"404\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 404: The token was not found\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 404;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":2391,"y":914,"wires":[["b014bccc.a35ce"]]},{"id":"ddb216fa.bfc318","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PUT/api_resource/:id}-ERROR-401","x":1941,"y":740,"wires":[["f65420a9.d7d61"]]},{"id":"b014bccc.a35ce","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PUT/api_resource/:id}-ERROR-404","x":2860,"y":914,"wires":[["c6ea4a0d.33a3f8"]]},{"id":"c6ea4a0d.33a3f8","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PUT/api_resource/:id} 404 Not Found","x":3291,"y":914,"wires":[]},{"id":"f3fc86a6.09a258","type":"function","z":"26fc1a5.508a6e6","name":"js-{PUT}-Restful-{PUT/api_resource/:id}-OK-200-ValidRequest","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\":-: OK :-:\");\n\nresponseMsg = \"{}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 200;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":2391,"y":948,"wires":[["dd2d6e57.b38be"]]},{"id":"dd2d6e57.b38be","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PUT/api_resource/:id}-OK-200","x":2840,"y":948,"wires":[["aa2f1576.73d4e8"]]},{"id":"aa2f1576.73d4e8","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PUT/api_resource/:id} 200 OK","x":3271,"y":948,"wires":[]},{"id":"aa1efaea.87af38","type":"function","z":"26fc1a5.508a6e6","name":"js-{PUT}-Restful-{PUT/api_resource/:id}-ERROR-403-Forbidden","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-IBM-Client-ID not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"403\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 403;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":700,"wires":[["d6dac4e9.d8f978"]]},{"id":"d6dac4e9.d8f978","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PUT/api_resource/:id}-ERROR-403","x":1542,"y":700,"wires":[["c1ff1b8.97346e8"]]},{"id":"c1ff1b8.97346e8","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PUT/api_resource/:id} 403 Forbidden","x":1970,"y":700,"wires":[]},{"id":"361a8dfc.f83622","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PUT/api_resource/:id} 401 Not Authorized","x":2382,"y":772,"wires":[]},{"id":"b4589ed6.6a5a2","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PUT/api_resource/:id}-ERROR-401","x":1941,"y":772,"wires":[["361a8dfc.f83622"]]},{"id":"21c6458d.b1c50a","type":"function","z":"26fc1a5.508a6e6","name":"js-{PUT}-Restful-{PUT/}-ERROR-401-NotAuthorized","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-Auth-Token not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"401\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 401;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1522,"y":772,"wires":[["b4589ed6.6a5a2"]]},{"id":"fbc7fd22.ecc95","type":"comment","z":"26fc1a5.508a6e6","name":"{PUT} Restful {/api_resource/:id} Service","info":"{PUT} Restful {/api_resource/:id} Service\n\nHow to use the json included in the body of the \njson-request:\n\nIf content-type is application/json, msg.payload is the parsed json\nif content-type is application/x-www-form-urlencoded, msg.payload is url-encoded data\notherwise, msg.payload is a String containing whatever the body of the request was","x":180,"y":704,"wires":[]},{"id":"e07e5ff2.8f864","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {PUT/api_resource/:id} {Path Param}","property":"req.params.id","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":1500,"y":839,"wires":[["9035339d.ba7e6"],["acea9eb3.1c32"],["c50b4787.0aec88"]]},{"id":"9035339d.ba7e6","type":"function","z":"26fc1a5.508a6e6","name":"js-{PUT}-Restful-{PUT/:id}-ERROR-400-BadRequest","func":"var _id = \"\";\nvar responseMsg = \"\";\n\n_id = msg.req.params.id;\n\nnode.log(\"_id Path-Param: \" + _id);\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"400\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 400;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1942,"y":805,"wires":[["f9e6cf6b.2cd28"]]},{"id":"f9e6cf6b.2cd28","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PUT/:id}-ERROR-400","x":2312,"y":805,"wires":[["9fb86bc.6781b98"]]},{"id":"9fb86bc.6781b98","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PUT/:id} 400 Bad Request","x":2654,"y":805,"wires":[]},{"id":"acea9eb3.1c32","type":"function","z":"26fc1a5.508a6e6","name":"js-{PUT}-Restful-{PUT/:id}-ERROR-400-BadRequest","func":"var _id = \"\";\nvar responseMsg = \"\";\n\n_id = msg.req.params.id;\n\nnode.log(\"_id Path-Param: \" + _id);\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"400\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 400;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1942,"y":839,"wires":[["66d0447a.22e7ac"]]},{"id":"66d0447a.22e7ac","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PUT/:id}-ERROR-400","x":2312,"y":839,"wires":[["35c9df00.63e402"]]},{"id":"35c9df00.63e402","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PUT/:id} 400 Bad Request","x":2654,"y":839,"wires":[]},{"id":"d5d797c2.0ebb68","type":"http in","z":"26fc1a5.508a6e6","name":"{PATCH} Restful {/api_resource/:id} Service","url":"/api_resource/:id","method":"patch","swaggerDoc":"","x":190,"y":1078,"wires":[["7bdbc83e.c4c878"]]},{"id":"7bdbc83e.c4c878","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {PATCH/api_resource/:id} {Header: X-IBM-Client-ID}","property":"req.headers.x-ibm-client-id","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":609,"y":1078,"wires":[["8a2cf014.c90a7"],["e1b05fa7.da3a2"],["aa1c1d8f.8bc86"]]},{"id":"db48dba3.6ef808","type":"function","z":"26fc1a5.508a6e6","name":"js-{PATCH}-Restful-{PATCH/}-ERROR-401-NotAuthorized","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-Auth-Token not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"401\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 401;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1589,"y":1078,"wires":[["d36ba4f0.10a2d8"]]},{"id":"8a2cf014.c90a7","type":"function","z":"26fc1a5.508a6e6","name":"js-{PATCH}-Restful-{PATCH/api_resource/:id}-ERROR-403-Forbidden","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-IBM-Client-ID not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"403\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 403;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1129,"y":998,"wires":[["f60bc917.b34c78"]]},{"id":"f60bc917.b34c78","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PATCH/api_resource/:id}-ERROR-403","x":1601,"y":998,"wires":[["79fe79dc.68fd88"]]},{"id":"79fe79dc.68fd88","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PATCH/api_resource/:id} 403 Forbidden","x":2041,"y":998,"wires":[]},{"id":"aa1c1d8f.8bc86","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {PATCH/api_resource/:id} {Header: X-Auth-Token}","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":1098,"y":1110,"wires":[["db48dba3.6ef808"],["c3569013.3a884"],["8527c37a.55e63"]]},{"id":"1a5f29c7.aa1246","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PATCH/api_resource/:id} 401 Not Authorized","x":2470,"y":1078,"wires":[]},{"id":"b98f6b54.0bf308","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {PATCH/api_resource/:id} {JSON in Body}","property":"payload.inputData","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":2007,"y":1273,"wires":[["a84ee5d1.5fda58"],["d4f6aaed.263e38"],["76c6e012.bc04d"]]},{"id":"a84ee5d1.5fda58","type":"function","z":"26fc1a5.508a6e6","name":"js-{PATCH}-Restful-{PATCH/api_resource/:id}-ERROR-404-NotFound","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: Not Found\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"404\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 404: The token was not found\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 404;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":2491,"y":1218,"wires":[["fca95a09.98bd78"]]},{"id":"fca95a09.98bd78","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PATCH/api_resource/:id}-ERROR-404","x":2961,"y":1218,"wires":[["97bc714c.d1b56"]]},{"id":"97bc714c.d1b56","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PATCH/api_resource/:id} 404 Not Found","x":3400,"y":1218,"wires":[]},{"id":"d4f6aaed.263e38","type":"function","z":"26fc1a5.508a6e6","name":"js-{PATCH}-Restful-{PATCH/api_resource/:id}-ERROR-404-NotFound","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: Not Found\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"404\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 404: The token was not found\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 404;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":2491,"y":1252,"wires":[["aed9665d.089fb8"]]},{"id":"d36ba4f0.10a2d8","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PATCH/api_resource/:id}-ERROR-401","x":2020,"y":1078,"wires":[["1a5f29c7.aa1246"]]},{"id":"aed9665d.089fb8","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PATCH/api_resource/:id}-ERROR-404","x":2960,"y":1252,"wires":[["9420734c.b9845"]]},{"id":"9420734c.b9845","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PATCH/api_resource/:id} 404 Not Found","x":3400,"y":1252,"wires":[]},{"id":"76c6e012.bc04d","type":"function","z":"26fc1a5.508a6e6","name":"js-{PATCH}-Restful-{PATCH/api_resource/:id}-OK-200-ValidRequest","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\":-: OK :-:\");\n\nresponseMsg = \"{}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 200;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":2491,"y":1286,"wires":[["c85a05ce.1cdf68"]]},{"id":"c85a05ce.1cdf68","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PATCH/api_resource/:id}-OK-200","x":2950,"y":1286,"wires":[["7eabc02f.b5b6c"]]},{"id":"7eabc02f.b5b6c","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PATCH/api_resource/:id} 200 OK","x":3370,"y":1286,"wires":[]},{"id":"e1b05fa7.da3a2","type":"function","z":"26fc1a5.508a6e6","name":"js-{PATCH}-Restful-{PATCH/api_resource/:id}-ERROR-403-Forbidden","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-IBM-Client-ID not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"403\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 403;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1129,"y":1038,"wires":[["a19df680.3e2338"]]},{"id":"a19df680.3e2338","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PATCH/api_resource/:id}-ERROR-403","x":1602,"y":1038,"wires":[["69096f22.809bb"]]},{"id":"69096f22.809bb","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PATCH/api_resource/:id} 403 Forbidden","x":2040,"y":1038,"wires":[]},{"id":"aa7d8fb6.7a00e","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PATCH/api_resource/:id} 401 Not Authorized","x":2471,"y":1110,"wires":[]},{"id":"68e24e4d.71ade","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PATCH/api_resource/:id}-ERROR-401","x":2020,"y":1110,"wires":[["aa7d8fb6.7a00e"]]},{"id":"c3569013.3a884","type":"function","z":"26fc1a5.508a6e6","name":"js-{PATCH}-Restful-{PATCH/}-ERROR-401-NotAuthorized","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-Auth-Token not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"401\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 401;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1589,"y":1110,"wires":[["68e24e4d.71ade"]]},{"id":"202b4cb.f3ca4b4","type":"comment","z":"26fc1a5.508a6e6","name":"{PATCH} Restful {/api_resource/:id} Service","info":"{PATCH} Restful {/api_resource/:id} Service\n\nHow to use the json included in the body of the \njson-request:\n\nIf content-type is application/json, msg.payload is the parsed json\nif content-type is application/x-www-form-urlencoded, msg.payload is url-encoded data\notherwise, msg.payload is a String containing whatever the body of the request was","x":191,"y":1043,"wires":[]},{"id":"8527c37a.55e63","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {PATCH/api_resource/:id} {Path Param}","property":"req.params.id","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":1569,"y":1177,"wires":[["f37ba326.3dea7"],["4adb93c9.7aa89c"],["b98f6b54.0bf308"]]},{"id":"f37ba326.3dea7","type":"function","z":"26fc1a5.508a6e6","name":"js-{PATCH}-Restful-{PATCH/:id}-ERROR-400-BadRequest","func":"var _id = \"\";\nvar responseMsg = \"\";\n\n_id = msg.req.params.id;\n\nnode.log(\"_id Path-Param: \" + _id);\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"400\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 400;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":2038,"y":1143,"wires":[["13d16944.9c31e7"]]},{"id":"13d16944.9c31e7","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PATCH/:id}-ERROR-400","x":2440,"y":1143,"wires":[["c2c7aec1.0be35"]]},{"id":"c2c7aec1.0be35","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PATCH/:id} 400 Bad Request","x":2800,"y":1143,"wires":[]},{"id":"4adb93c9.7aa89c","type":"function","z":"26fc1a5.508a6e6","name":"js-{PATCH}-Restful-{PATCH/:id}-ERROR-400-BadRequest","func":"var _id = \"\";\nvar responseMsg = \"\";\n\n_id = msg.req.params.id;\n\nnode.log(\"_id Path-Param: \" + _id);\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"400\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 400;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":2039,"y":1177,"wires":[["c18f9e62.7ddd2"]]},{"id":"c18f9e62.7ddd2","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{PATCH/:id}-ERROR-400","x":2440,"y":1177,"wires":[["ad485a86.e76708"]]},{"id":"ad485a86.e76708","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {PATCH/:id} 400 Bad Request","x":2800,"y":1177,"wires":[]},{"id":"b2d4a7f4.1fdce8","type":"http in","z":"26fc1a5.508a6e6","name":"{DELETE} Restful {/api_resource/:id} Service","url":"/api_resource/:id","method":"delete","swaggerDoc":"","x":190,"y":1420,"wires":[["39eb741.4146e8c"]]},{"id":"39eb741.4146e8c","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {DELETE/api_resource/:id} {Header: X-IBM-Client-ID}","property":"req.headers.x-ibm-client-id","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":610,"y":1420,"wires":[["304931e8.c378ee"],["86db58e3.de8958"],["732345d2.5e71ac"]]},{"id":"160f3871.16da98","type":"function","z":"26fc1a5.508a6e6","name":"js-{DELETE}-Restful-{DELETE/}-ERROR-401-NotAuthorized","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-Auth-Token not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"401\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 401;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1661,"y":1417,"wires":[["e94097ff.2b5e18"]]},{"id":"304931e8.c378ee","type":"function","z":"26fc1a5.508a6e6","name":"js-{DELETE}-Restful-{DELETE/api_resource/:id}-ERROR-403-Forbidden","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-IBM-Client-ID not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"403\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 403;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":1340,"wires":[["beb30d3c.5a338"]]},{"id":"beb30d3c.5a338","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{DELETE/api_resource/:id}-ERROR-403","x":1650,"y":1340,"wires":[["949a906.8c0317"]]},{"id":"949a906.8c0317","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {DELETE/api_resource/:id} 403 Forbidden","x":2098,"y":1340,"wires":[]},{"id":"2d05c482.22ad1c","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {DELETE/api_resource/:id} 401 Not Authorized","x":2581,"y":1417,"wires":[]},{"id":"e94097ff.2b5e18","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{DELETE/api_resource/:id}-ERROR-401","x":2110,"y":1417,"wires":[["2d05c482.22ad1c"]]},{"id":"53b399cb.b1abe8","type":"function","z":"26fc1a5.508a6e6","name":"js-{DELETE}-Restful-{DELETE/api_resource/:id}-OK-200-ValidRequest","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\":-: OK :-:\");\n\nresponseMsg = \"{}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 200;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":2121,"y":1567,"wires":[["de333ca3.9a3ec"]]},{"id":"de333ca3.9a3ec","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{DELETE/api_resource/:id}-OK-200","x":2589,"y":1567,"wires":[["980a626e.1d935"]]},{"id":"980a626e.1d935","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {DELETE/api_resource/:id} 200 OK","x":3001,"y":1567,"wires":[]},{"id":"86db58e3.de8958","type":"function","z":"26fc1a5.508a6e6","name":"js-{DELETE}-Restful-{DELETE/api_resource/:id}-ERROR-403-Forbidden","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-IBM-Client-ID not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"403\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 403: Forbidden. The logged user has no access to this resource\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 403;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":1380,"wires":[["d03924c2.c6bed8"]]},{"id":"d03924c2.c6bed8","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{DELETE/api_resource/:id}-ERROR-403","x":1651,"y":1380,"wires":[["ddaba521.e79f38"]]},{"id":"ddaba521.e79f38","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {DELETE/api_resource/:id} 403 Forbidden","x":2097,"y":1380,"wires":[]},{"id":"cdb6f185.25655","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {DELETE/api_resource/:id} 401 Not Authorized","x":2582,"y":1452,"wires":[]},{"id":"5f5ce126.5a98d","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{DELETE/api_resource/:id}-ERROR-401","x":2110,"y":1452,"wires":[["cdb6f185.25655"]]},{"id":"762d00ca.c605a","type":"function","z":"26fc1a5.508a6e6","name":"js-{DELETE}-Restful-{DELETE/}-ERROR-401-NotAuthorized","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: X-Auth-Token not set\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"401\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 401: Not Authorized. BKS Token authentication was invalid or did not exist\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 401;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1661,"y":1452,"wires":[["5f5ce126.5a98d"]]},{"id":"543201b1.fcde4","type":"comment","z":"26fc1a5.508a6e6","name":"{DELETE} Restful {/api_resource/:id} Service","info":"{PATCH} Restful {/api_resource/:id} Service\n\nHow to use the json included in the body of the \njson-request:\n\nIf content-type is application/json, msg.payload is the parsed json\nif content-type is application/x-www-form-urlencoded, msg.payload is url-encoded data\notherwise, msg.payload is a String containing whatever the body of the request was","x":191,"y":1385,"wires":[]},{"id":"67cc2ba0.96f864","type":"switch","z":"26fc1a5.508a6e6","name":"SWITCH {DELETE/api_resource/:id} {Path Param}","property":"req.params.id","propertyType":"msg","rules":[{"t":"eq","v":"1234404","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":1630,"y":1508,"wires":[["7c9f4197.7747"],["841d792.990ae88"],["53b399cb.b1abe8"]]},{"id":"7c9f4197.7747","type":"function","z":"26fc1a5.508a6e6","name":"js-{DELETE}-Restful-{DELETE/:id}-ERROR-404-NotFound","func":"var _id = \"\";\nvar responseMsg = \"\";\n\nnode.log(\"ERROR :: Not Found\");\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"404\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 404: The token was not found\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 404: The token was Not Found\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 404;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":2081,"y":1495,"wires":[["c9d57aaa.1566f8"]]},{"id":"c9d57aaa.1566f8","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{DELETE/:id}-ERROR-404","x":2480,"y":1495,"wires":[["5f82d0af.411a6"]]},{"id":"5f82d0af.411a6","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {DELETE/:id} 404 Not Found","x":2840,"y":1495,"wires":[]},{"id":"841d792.990ae88","type":"function","z":"26fc1a5.508a6e6","name":"js-{DELETE}-Restful-{DELETE/:id}-ERROR-400-BadRequest","func":"var _id = \"\";\nvar responseMsg = \"\";\n\n_id = msg.req.params.id;\n\nnode.log(\"_id Path-Param: \" + _id);\n\nresponseMsg = \"{\\r\\n      \\\"code\\\": \\\"400\\\",\\r\\n\\t  \\\"message\\\": \\\"ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"level\\\": \\\"0\\\",\\r\\n\\t  \\\"description\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\",\\r\\n      \\\"moreInfo\\\": \\\"The request has failed. ERROR 400: Bad Request. The input field was filled incorrectly\\\"\\r\\n}\";\n\nnode.log(\"Response Message returned: responseMsg : \" + responseMsg);\n\nmsg.statusCode = 400;\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":2082,"y":1529,"wires":[["169e4d08.73a273"]]},{"id":"169e4d08.73a273","type":"json","z":"26fc1a5.508a6e6","name":"json-converter-{DELETE/:id}-ERROR-400","x":2480,"y":1529,"wires":[["cc5c707a.4ce99"]]},{"id":"cc5c707a.4ce99","type":"http response","z":"26fc1a5.508a6e6","name":"HTTP Response {DELETE/:id} 400 Bad Request","x":2850,"y":1529,"wires":[]}]